<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>dict_leo.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
			<key>Title</key>
			<string>DictLeo</string>
			<key>URL</key>
			<string>http://dict.leo.org/#/search={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search dict.leo.org with the selected text.</string>
	<key>Extension Identifier</key>
	<string>de.koy.popclip.extension.dict-leo</string>
	<key>Extension Name</key>
	<string>Leo Dictionary</string>
</dict>
</plist>
