<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>wiki.png</string>
			<key>Shell Script File</key>
			<string>wikibot.sh</string>
			<key>Title</key>
			<string>Wikibot</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>de.koy.popclip.extension.wikibot</string>
	<key>Extension Name</key>
	<string>Wikibot</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
